<nav class="navbar navbar-light" style="background-color: #FFCD24;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand">boardMeeting</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="../home/index">Home</a></li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="../whiteboards" id="navbarDropdown" role="button" data-toggle="My Whiteboards" aria-haspopup="true" aria-expanded="false">
          My Whiteboards
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Create New</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
	  <li> <% if current_user %>
			<a href="../whiteboards/new">Create New</a>
		<% else %>
 		   <a .style.visibility="hidden"></a>
		<% end %>
		</li>
        </ul>
			<% if current_user %>
        <form class="navbar-form navbar-left">
            <div class="input-group">
                <input id="home-search-bar" type = "text" class="form-control", placeholder="Enter Whiteboard id...", spellcheck="false">
                <span class="input-group-btn">
                    <button id="home-page-search-button" class="btn btn-primary" style="color:#FFCD24" type="button"> <span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
		<% else %>
 		   <a .style.visibility="hidden"></a>
		<% end %>
        <ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span><%= @username %></a></li>
				<li><a class="glyphicon glyphicon-log-out" rel="nofollow" data-method="delete" href="/users/sign_out"> Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
    </div>
</nav>


<!--header for bootstrap and css links-->
<h2>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Update</title>
  <link rel = "stylesheet" href="app/assets/stylesheets/bootstrap.min.css" />
  <link rel = "stylesheet" type="text/css" href="app/assets/stylesheets/editAccount.css"/>
</h2>
<!--bootstrap html for page layout-->
<body class="bg">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
     <div class="col-md-4 col-sm-4 col-xs-12">
       <!--form html for user input-->
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-container"}) do |f| %>
        <%= resource_name.to_s.humanize %>
        <h3>Update</h3>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control', placeholder:'email-address' %>
        </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder:"new password" %>
            <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-groupt">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control',placeholder:"new password" %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "current-password", class:'form-control', placeholder:"currrent password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Update", class:'btn btn-warning btn-block' %>
          </div>
          <div class="form-group">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class:"btn btn-danger btn-block",remote: true %>
          </div>
      <% end %>
      <!--end form html-->
            </div>
          <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
        </body>
      </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/assets/javascripts/bootstrap.min.js"></script>

        <script>
          $('#home-page-search-button').click(function() {
            var wbpath = document.getElementById('home-search-bar').value;
            var actualPath = 'https://boardMeeting.herokuapp.com/whiteboards/' + wbpath;
            $.ajax({
              type: 'HEAD',
              url: actualPath,
              success: function() {
                window.location.assign(actualPath);
              },
              error: function() {
                var obj = document.getElementById('home-search-bar');
                var origBorder = obj.style.border;
                var origColor = obj.style.color;
                obj.style.border = "2px solid red";
                obj.style.color = "red";
                setTimeout(function() {
                  obj.style.border = origBorder;
                  obj.style.color = origColor;
                }, 3000);
              }
            });
          });
        </script>
</html>
