<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="utf-8"/>
		<title>Bootstrap grid </title> 


		<!-- We link the CDN css files here --> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" > 
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/main.css">

	</head>
	<body>
		<!-- navbar -->  
	<nav class="navbar navbar-inverse">
 		<div class="container-fluid">
   		 <div class="navbar-header">
      		<a class="navbar-brand">WhiteBoard</a>
    		</div>
    		<ul class="nav navbar-nav">
     		<li class="active"><a href="../home/index">Home</a></li>
     		 <li><a href="../whiteboards">My Whiteboards</a></li>
   		</ul>
    		<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span><%= @username %></a></li>
     			<li><a href=<%= destroy_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
  		</div>
	</nav>


		<div class="description ">
   			<h1> WELCOME TO WHITEBOARD</h1>
   			 <div class = "boxed" >
    				<p>    Collaboration with users or coworkers on the internet often times requires someone to draw out or sketch their ideas. While using image creation tool and sending the image can work, having to save, upload, and host the image to send to another user is a pain. If you want to point out in real time to the other user, (such as pointing on an actual whiteboard), you are out of luck. Whiteboard allows users access to a real-time whiteboard collaboration tool, where the sketches you draw on the whiteboard appear on the screens of those who are collaborating with. And if any contributor has an idea to give, they can write in on the board for everyone to see. All the user has to do is create a new whiteboard on the site, and send the link over to whoever they want to collaborate with.
					</p>   
			</div>
		<% if current_user %>
			<a href="../whiteboards/new"><button class="btn btn-outline-secondary btn-lg">CREATE NEW</button></a>
		<% else %>
 			<a href=""><button class="btn btn-outline-secondary btn-lg">SIGN UP</button></a>  
		<% end %>
		</div>


	<!-- Javascript files should be linked at the bottom of the page --> 
		<script src="/assets/javascripts/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
		<script src="/assets/javascripts/bootstrap.min.js"></script>
	</body>
</html>
