<!DOCTYPE html>
<html> 
	<head> 
		<meta charset="utf-8"/>
		<title>Bootstrap grid </title> 


		<!-- We link the CDN css files here --> 
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" > 
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">

	</head>
	<body>

	
	<div class="home-info-buttons">
		<div class="nav-buttons">
			<%= link_to 'INFORMATION', "../home/info", :class=>"btn btn-Dark" %>
			<% if current_user %>
				<%= link_to 'MY WHITEBOARDS', '../whiteboards', :class=> "btn btn-Dark" %>
				<%= link_to 'CREATE NEW', '../whiteboards/new', :class=> "btn btn-Dark" %>
			<% else %>
				<%= link_to 'MY WHITEBOARDS', new_user_session_path, :class=>"btn btn-Dark" %>
				<%= link_to 'CREATE NEW', new_user_session_path, :class=>"btn btn-Dark" %>
			<% end %>
		</div>

		<div class="user-account-buttons">
			<% if current_user %>
				<%= link_to current_user.email, edit_user_registration_path, :class=>"btn btn-Dark"%>
				<%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete, :class=>"btn btn-Dark" %>
			<% else %>
				<%= link_to 'LOG IN', new_user_session_path, :class=>"btn btn-Dark" %>
				<%= link_to 'SIGN UP', new_user_registration_path, :class=>"btn btn-Dark" %>
			<% end %>
		</div>
	</div>

	<div class="container main-header">
			<div class="row">
				<div class="col-xs-12">
					<div class="jumbotron">
  						<h1>What is Whiteboard?</h1>
  						<p>Collaboration with users or coworkers on the internet often times requires someone to draw out or sketch their ideas. While using image creation tool and sending the image can work, having to save, upload, and host the image to send to another user is a pain. If you want to point out in real time to the other user, (such as pointing on an actual whiteboard), you are out of luck. Whiteboard allows users access to a real-time whiteboard collaboration tool, where the sketches you draw on the whiteboard appear on the screens of those who are collaborating with. And if any contributor has an idea to give, they can write in on the board for everyone to see. All the user has to do is create a new whiteboard on the site, and send the link over to whoever they want to collaborate with.</p>
				</div>
				</div>
</div>
</div>

	<!-- Javascript files should be linked at the bottom of the page --> 
		<script src="/assets/javascripts/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
		<script src="/assets/javascripts/bootstrap.min.js"></script>
	</body>
</html>