<h1>Your Whiteboards</h1>

<button><%= link_to "Home", '../home/index' %></button>
<button><%= link_to "Create Whiteboard", new_whiteboard_path %></button>

<% @whiteboards.each do |whiteboard| %>
<% if current_user.email == whiteboard.creator_email %>
<div class="card" style="width: 18rem; padding: 2rem;">
  <div class="card-img-top">
<<<<<<< HEAD
    <p> These are your saved WhiteBoards</p>
    	<img class="whiteboard-image" src ="https://s3.amazonaws.com/whiteboard-csc3380/<%= whiteboard.id %>?<%= rand(0..1000) %>"  crossorigin="anonymous" width= "150px" height= "150px" >
=======
    <% if Rails.application.assets.find_asset(whiteboard.hash_id+'.png') != nil%>
        <%= image_tag(whiteboard.hash_id+'.png', width: '150px', height: '150px')%>
    <% else %>
        <%= image_tag('no_save_image.png', width: '150px', height: '150px')%>
    <% end %>
>>>>>>> parent of 2144066... Update index.html.erb
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= whiteboard.title %></h5>
    <p class="card-text"><%= whiteboard.description %></p>
    <p class="card-text"><%= whiteboard.canvas_width %>x<%= whiteboard.canvas_height %>
    <%= link_to "Use Whiteboard", whiteboard, class:"btn btn-primary"%>
  </div>
</div>
<% end %>
<% end %>
