<!DOCTYPE html>
<html>
  <head>
    <meta charset ="utf-8"/>
    <title>Bootstrap grid</title>

    <body class = 'bg-dark'>

    <!-- We link the CDN css files here --> 
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="app/assets/stylesheets/bootstrap.min.css" >
		<!-- Optional theme -->
		<link rel="stylesheet" href="app/assets/stylesheets/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/WhiteBoardIndex.css">
    
  </head>
  

  <body class = “index-page” >
  
  		<!-- navbar -->  
	<nav class="navbar navbar-inverse">
 		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">WhiteBoard</a>
			</div>
    		<ul class="nav navbar-nav">
				<li><a href="../home/index">Home</a></li>
				<li  class="active"><a href="../whiteboards">Your Whiteboards</a></li>
				<li><a href="../whiteboards/new">Create Whiteboard</a></li>
			</ul>
    		<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span><%= @username %></a></li>
				<li><a class="glyphicon" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
  		</div>
	</nav>


<% @whiteboards.each do |whiteboard| %>
<% if current_user.email == whiteboard.creator_email %>
<div class="card" style="width: 18rem; padding: 2rem;">
  <div class="card-img-top">
    
      <img class="whiteboard-image" src ="https://s3.amazonaws.com/whiteboard-csc3380/<%= whiteboard.id %>?<%= rand(0..1000) %>"  crossorigin="anonymous" width= "150px" height= "150px" >
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= whiteboard.title %></h5>
    <p class="card-text"><%= whiteboard.description %></p>
    <p class="card-text"><%= whiteboard.canvas_width %>x<%= whiteboard.canvas_height %></p>
    <%= link_to "Use Whiteboard", whiteboard, class:"btn btn-primary"%>
  </div>
</div>
<% end %>
<% end %>
    <!-- Javascript files should be linked at the bottom of the page --> 
    <script src="/assets/javascripts/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/javascripts/bootstrap.min.js"></script>

</body>
</body>

</html>
