<!DOCTYPE html>
  		<!-- navbar -->
	<nav class="navbar navbar-inverse">
 		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">WhiteBoard</a>
			</div>
    		<ul class="nav navbar-nav">
				<li><a href="../home/index">Home</a></li>
				<li><a href="../whiteboards">Your Whiteboards</a></li>
				<li  class="active"><a href="../whiteboards/new">Create Whiteboard</a></li>
			</ul>
    		<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
				<li><a href=<%= edit_user_registration_path %>><span class="glyphicon glyphicon-user"></span><%= @username %></a></li>
				<li><a class="glyphicon" rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a></li>
				<% else %>
     		 	<li><a href=<%= new_user_registration_path %>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     			<li><a href=<%= new_user_session_path %>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				<% end  %>
			</ul>
  		</div>
	</nav>
<h2>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Create New Whiteboard</title>
  <link rel = "stylesheet" href="app/assets/stylesheets/bootstrap.min.css" />
  <link rel = "stylesheet" type="text/css" href="app/assets/stylesheets/whiteboardNew" />
</h2>
<body class="bg">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
     <div class="col-md-4 col-sm-4 col-xs-12">

        <%= form_for @whiteboard, html: {:class => 'form-container'} do |f| %>
          <h3>New Whiteboard</h3>
          <div>
             <%= f.hidden_field :creator_email %>
            </div>

          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class:'form-control', placeholder: 'title' %>
          </div>

          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class:'form-control', placeholder:'description' %>
          </div>

          <div class="form-group">
            <%= f.label :canvas_width %>
            <%= f.number_field :canvas_width, class: 'form-control',placeholder:'width' %>
          </div>

          <div class="form-group">
              <%= f.label :canvas_height %>
              <%= f.number_field :canvas_height, class:'form-control', placeholder:'height' %>
            </div>

          <div class="form-group">
            <%= f.submit "Create New Whiteboard", class:'btn btn-warning btn-block' %>
          </div>

        <% end %>

      </div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
  </div>
</div>
</body>
  <script src="/assets/javascripts/jquery.min.js"></script>
  <script src="/assets/javascripts/bootstrap.min.js"></script>
</html>
