<h3>Create New Whiteboard</h3>

<%= form_for @whiteboard do |f| %>
    <div>
        <%= f.hidden_field :creator_email %> 
    </div>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :canvas_width %>
        <%= f.number_field :canvas_width %>
    </div>

    <div>
        <%= f.label :canvas_height %>
        <%= f.number_field :canvas_height %>
    </div>
    
    <div>
        <%= f.submit %>
    </div>
<% end %>