<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Whiteboard</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }
        #info{
            z-index:10;
            position: absolute;
        }
        #thecanvas{
            z-index:1;
            position: absolute;
            border: 2px solid black;
        }
        .hidden{
            display: none;
        }
    </style>
    <meta name="turbolinks-cache-control" content="no-preview">
    <%= javascript_include_tag "board", "data-turbolinks-track" => true %>
    <% if Rails.application.assets.find_asset(@whiteboard.hash_id+'.png') != nil%>
        <%= image_tag(@whiteboard.hash_id+'.png',:class => "hidden", :id => "savedImage")%>
    <% end %>
  </head>

  <body>
        <p hidden id=hash-id><%= @whiteboard[:hash_id]%></p>
        <p hidden id=id><%= @whiteboard[:id]%></p>
        <div id=info>
            <h3><%= @title %></h3>
            <button><%= link_to "Edit Whiteboard", edit_whiteboard_path(@whiteboard) %></button>
            <button><%= link_to "Delete Whiteboard", @whiteboard, method: :delete, data: { confirm: "Are you sure you want to delete this whiteboard?"} %></button>
            <button id="drawmode" style="background-color: green;">DRAW MODE</button>
            <button id=save>Save Whiteboard</button>
            <p>Press 1 for Marker, Press 2 for Highligther, Press 3 for Eraser</p>
			<select ID = "Color">
				<option value="blue">Blue</option>
				<option value="red">Red</option>
				<option value="green">Green</option>
				<option value="Chocolate">Brown</option>
				<option value="purple">Purple</option>
				<option value="black">Black</option>
			</select>
			<p ID="tag">Size: 5</h3>
        </div>
        <div id=thecanvas>
        <canvas id="board" width=<%= @width %> height=<%= @height %>></canvas>
        </div>

  </body>
  <script>
        var hashid = $('#hash-id')[0].innerHTML;
        var id = $('#id')[0].innerHTML;
        var image = $('#savedImage')[0];
    </script>
</html>